@import url('./reset.css');


body {
    display: flex;
}

.logo {
    border-radius: 50%;
    width: 70px;
    align-self: center;
}

nav a {
    display: block;
}

main {
    padding-left: 150px;
    min-width: 70%;
}

header {
    display: block;
    top: 0;
    width: fit-content;
}

.section-header {
    margin-bottom: 20px;
    border-radius: 5%;
    padding: 10px;
}

p, ul, ol, li, nav a {
    line-height: 2.5
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
    }

    header a {
        align-self: center;
    }

    nav {
        padding: 20px;
        display: flex;
        align-items: center;
    }

    nav a {
        padding: 5px;
    }

    body {
        display: block;
    }

    main {
        padding-left: 0;
    }
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    min-width: 30vw;
    margin: 10px 0 10px 0px;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}